#calculator{
    border: 5px solid;
    border-color: rgb(81, 73, 73);
    width: 200px;
    border-radius: 20px;
    background-color: rgb(173, 171, 192);
    text-align: center;

}
#display{
    margin: 10px;
    width: 168px;
    font-size: 25px;
    text-align: right;
    border-radius: 50px;
    border: 5px solid rgb(199, 214, 205);
    font-style: italic;
    
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.button{
    margin:3px;
    height: 45px;
    width: 45px;
    color: rgb(12, 225, 154);
    background-color: rgb(5, 26, 3);
    border-radius: 15px;    
}
#developer{
    font-size: 10px;
    margin-left: 31px;
    font-style: italic;
    color: brown;
}
sup{
    color: black
}
